.navbar {
    background-color: #1a1a1a; /* Dark background color */
  }
  
  .navbar-brand img {
    filter: brightness(0) invert(1); /* Invert the logo color to white */
  }
  
  .nav-link {
    color: #fff; /* White text color */
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #3f3f3f; /* Darker background color on hover */
    border-radius: 5px;
  }
  
  .navbar-toggler-icon {
    border-color: #fff; /* White color for the toggler icon */
  }